.form-item-container {
  border: solid #6A8D73 2px;
  background-color: whitesmoke;
  margin: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.quiz-form-main-container {
  background-color: white;
  padding: 5px 5px 5px 5px;
  text-align: left;
  
}

.question-label {
  background-color: white;
  border-bottom: solid 2px #6A8D73;
  margin-bottom: 5px;
}

.submit-button {
  background-color: #6A8D73;
  color: white;
  border: solid .5px black;
  
}